@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ẩn thanh cuộn nhưng vẫn cho phép vuốt */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}